[main_application]
secret_key="sample_key"

[mongodb_database]
connection_string=mongodb://Oneclickbrm:Indian_82@127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&authSource=admin&appName=mongosh+2.5.6
database_name=oneclick_brm

[logging]
log_level = DEBUG
log_dir = /home/credentiaa/chidhu/oneclickbrm/logs
log_filename = oclick_app.log
